/* Global Styles */

.App {
  background-color: #11202c;
}

h1 {
  font-size: 48px;
  text-align: center;
  padding: 0;
  margin: 0;
}

h2 {
  color: black;
  overflow-wrap: anywhere;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Header Section */

.App-header {
  background-color: #4484b6;
  padding: 20px 0 5px;
  color: white;
}

/* Input & Search Section */

.App-intro {
  font-size: large;
  background-color: #35678e;
  margin: 0;
}

.input-elements {
  padding: 10px 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.input-component {
  display: flex;
  flex-direction: column;
}

.label-search-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.label-name {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.input-element {
  width: 300px;
  font-size: 32px;
}

input::placeholder {
  color: lightgrey;
}

.options {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 10px 0;
  background-color: #11202c;
}

.option-inputs .input-element {
  background-color: lightgrey;
  margin: 0 25px 10px;
  padding: 30px;
  border-radius: 10px;
}

.option-inputs {
  border: 2px solid black;
  border-radius: 6px;
  padding: 25px;
  text-align: center;
}

select {
  font-size: 20px;
  margin-bottom: 20px;
}

.searchButton {
  display: block;
  font-size: 30px;
  width: 100%;
  margin: 10px auto;
  border-radius: 8px;
  background-color: white;
}

.searchButton:hover {
  background-color: lightyellow;
}

/* Results Section */

.app-body {
  padding: 5px 30px 0;
  background-color: #11202c;
}

.app-body span {
  color: white;
}

.total-count {
  text-align: center;
  color: white;
}

.issue-header {
  display: grid;
  grid-template-columns: 120px auto;
  background-color: white;
  border-radius: 20px;
}

.issue-header .main {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.issue-body {
  padding: 20px 20px 0;
  overflow-wrap: break-word;
}

.issue-body img {
  max-width: 100%;
}

.issue-body .mde-header {
  display: none;
}

.issue-body .react-mde {
  border: none;
}

.issue {
  min-height: 210px;
  padding: 10px;
  margin: 20px 0;
  background-color: whitesmoke;
  border-radius: 20px;
}

.issue:after {
  content: '';
  display: table;
  clear: both;
}

.repo {
  margin: 5px 0;
  overflow-wrap: anywhere;
}

.labels {
  margin: 5px 0;
}

.label {
  font-size: 12px;
  margin: 2px 2px;
  padding: 2px;
  border-radius: 2px;
  display: inline-block;
  font-weight: 600;
  line-height: 11px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.avatar {
  /*float: left;*/
  margin: 20px;
}

.avatar img {
  border-radius: 8px;
}

.label-labels {
  display: inline-block;
}

.label-labels label {
  display: block;
}

.times {
  margin: 5px 0;
  float: right;
}

.timeAgo {
  display: inline-block;
}

/* Footer Section */

footer {
  background-color: black;
  border: none;
  text-align: center;
}

footer p {
  padding: 15px;
}

footer p a {
  color: white;
  font-size: 1.5em;
}

/* Loading Spinner */

.loading {
  position: fixed;
  display: block;
  left: 50%;
  top: 50%;
  width: 8em;
  height: 8em;
  margin-left: -4em;
  margin-top: -4em;
  border-radius: 50%;
  background: #fff;
  font-size: 10px;
  border: 0.8em solid rgba(218, 219, 223, 1);
  border-left: 0.8em solid #4484b6;
  animation: spin 1.1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Queries */

@media screen and (max-width: 990px) {
  .label-search-box {
    display: block;
    margin-bottom: 30px;
  }

  .input-element {
    width: 100%;
    box-sizing: border-box;
  }

  .input-component {
    margin-bottom: 20px;
  }

  .times {
    float: none;
    margin: 5px 0;
  }
}

@media screen and (max-width: 640px) {
  .options {
    display: block;
  }

  select {
    width: 100%;
  }

  .issue-header {
    display: grid;
    grid-template-columns: auto;
  }

  .avatar {
    display: none;
  }
}
