@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: 'Bitter', serif;
font-family: 'Noto Sans', sans-serif; */

:root {
  --bg-dark: rgb(17, 32, 44);
  --bg-darken: rgba(0, 0, 0, 0.4);
  --bg-light: rgb(250, 250, 250);
  --bg-mid: rgb(68, 132, 182);
  --bg-mid-darker: rgb(42, 93, 133);
  --bg-neutral: rgb(238, 238, 238);
  --border-radius: 5px;
  --header-footer-height: 50px;
  --header-footer-height-mobile: 85px;
  --text-light: rgb(224, 224, 224);
}

*::selection {
  background-color: var(--bg-mid);
  color: var(--text-light);
}

*:focus {
  outline: 2px solid var(--bg-mid);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-light);
  border-radius: 20px;
}

h1,
h2,
a,
h5 {
  font-family: 'Bitter', serif;
}

h1,
h2{
  color: var(--text-light);
  margin: 0;
  padding: 0;
  text-align: center;
}

h5{
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 25px;
}

h2 {
  color: black;
  font-size: 16px;
  overflow-wrap: anywhere;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
input {
  font-family: 'Noto Sans', sans-serif;
}

button {
  background-color: var(--bg-mid);
  border-radius: var(--border-radius);
  border: 1px solid var(--bg-mid);
  color: var(--text-light);
}

button:hover {
  border-color: var(--bg-light);
  cursor: pointer;
}

button:active {
  background-color: var(--bg-dark);
}

.App {
  background-color: var(--bg-dark);
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
}

.App-container {
  display: grid;
  grid-template-areas:
    'search results'
    'footer results';
  grid-template-columns: minmax(250px, 30%) auto;
  grid-template-rows: 4fr 0fr;
  height: calc(100vh - var(--header-footer-height));
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
}

/* Header Section */

.App-header {
  align-items: center;
  background-color: var(--bg-mid);
  border-bottom: 3px solid var(--bg-mid-darker);
  box-sizing: border-box;
  color: var(--text-light);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: var(--header-footer-height);
  padding: 10px;
}

.App-header a {
  text-decoration: none;
  padding: 0 5em;
}

.main-logo {
  height: calc(var(--header-footer-height) * 0.5);
  max-width: 100% !important;
}

/* Input & Search Section */

.search-container {
  grid-area: search;
  overflow: scroll;
  padding: 20px;
}

.input-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-component {
  margin: 5px 0;
}

.input-label-name {
  color: var(--bg-mid);
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0;
}

.input-element {
  background-color: var(--bg-darken);
  border-radius: var(--border-radius);
  border: 1px solid var(--bg-mid);
  box-sizing: border-box;
  color: var(--text-light);
  padding: 5px;
  width: 100%;
}

.input-element::placeholder {
  opacity: 0.5;
}

.input-element:hover {
  background-color: var(--bg-dark);
  border: 1px solid black;
}

.input-element:focus,
.input-element:active {
  border-color: var(--bg-light);
  outline: none;
}

fieldset {
  border: none;
  color: var(--bg-mid);
  font-size: 14px;
  padding: 0;
}

fieldset .input-element {
  margin-bottom: 3px;
}

fieldset label {
  display: block;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-darken);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  background-size: 10px auto;
  color: var(--text-light);
  margin: 5px 0;
}

select:hover {
  background-color: var(--bg-dark);
}

.expandButton {
  background-color: var(--bg-darken);
  border: none;
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
}

.expandButton:hover {
  color: var(--bg-mid);
}

.searchButton {
  display: block;
  font-size: 16px;
  margin: 5px 0;
  width: 100%;
}

/* Results Section */

.results-container {
  background-color: var(--bg-darken);
  grid-area: results;
  overflow: scroll;
  position: relative;
}

.total-count {
  color: var(--text-light);
}

.issue {
  background-color: var(--bg-neutral);
  border-radius: var(--border-radius);
  margin: 10px;
}

.issue-header {
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 110px auto;
  overflow: hidden;
  padding: 10px;
}

.issue-avatar img {
  border-radius: var(--border-radius);
}

.issue-header .main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: baseline;
  margin-right: 5px;
}

.open.octicon {
  color: #28a745;
}

.closed.octicon {
  color: #cb2431;
}

.issue-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  word-break: break-word;
}

.issue-repo {
  margin: 5px 0;
  overflow-wrap: anywhere;
}

.issue-repo a {
  color: var(--bg-mid);
}

.issue-details {
  position: relative;
}

.issue-labels {
  margin: 5px 0;
}

.issue-label {
  border-radius: 5px;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 12px;
  font-weight: 600;
  line-height: 11px;
  margin: 2px 2px;
  padding: 4px;
}

.issue-times {
  align-self: flex-end;
  font-size: small;
  width: max-content;
}

.issue-time-ago {
  display: block;
}

.moreButton {
  bottom: 2px;
  position: absolute;
  right: 2px;
}

.moreButton:hover {
  background-color: var(--bg-mid-darker);
  border-color: var(--bg-mid-darker);
}

.issue-body {
  overflow-wrap: break-word;
}

.issue-body img {
  max-width: 100%;
}

.issue-body .mde-header {
  display: none;
}

.issue-body .react-mde {
  border: none;
}

.issue-body .mde-preview {
  min-height: 0px !important;
}

footer {
  background-color: var(--bg-mid);
  border-top: 3px solid var(--bg-mid-darker);
  display: grid;
  grid-area: footer;
  height: var(--header-footer-height);
  place-items: center;
  text-align: center;
}

footer a {
  color: var(--text-light);
}

.loading {
  animation: spin 0.7s infinite linear;
  background: var(--bg-light);
  border: 0.8em solid var(--bg-neutral);
  border-left: 0.8em solid var(--bg-mid);
  border-radius: 50%;
  box-shadow: 0 0 60px 1px var(--bg-dark);
  display: block;
  font-size: 10px;
  height: 8em;
  left: 50%;
  margin-left: -4em;
  margin-top: -4em;
  position: absolute;
  top: 50%;
  width: 8em;
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 990px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 12px;
  }
  .App-header a{
    padding: 0 10px;
  }
  footer {
    height: var(--header-footer-height-mobile);
  }
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 20px;
  }

  .App-header {
    height: var(--header-footer-height-mobile);
    justify-content: center;
  }

  .App-container {
    display: grid;
    grid-template-areas:
      'search'
      'results'
      'footer';
    grid-template-columns: auto;
    grid-template-rows: auto auto var(--header-footer-height-mobile);
    height: initial;
  }

  .results-container {
    grid-area: initial;
    max-height: initial;
  }

  .issue-header {
    display: grid;
    grid-template-columns: 50px auto;
  }

  .issue-avatar img {
    height: 40px;
    width: 40px;
  }

  .issue-title {
    font-size: 14px;
  }

  .issue-repo,
  .issue-times {
    font-size: 12px;
  }

  .loading {
    position: fixed;
    top: 30%;
  }
}
