@import "../node_modules/react-toggle-switch/dist/css/switch.min.css";

html {
  background-color: black;
}

.App {
  background-color: #11202C;
}

.App-header {
  background-color: #4484B6;
  padding: 20px 0 5px;
  color: white;
}

.app-body {
  padding: 0 30px;
  background-color: #11202C;
}

.App-intro {
  font-size: large;
  background-color: #35678E;
  margin:0;
}

h1 {
  font-size: 48px;
  text-align: center;
  padding:0;
  margin:0;
}

h2 {
  text-align: center;
  color: black;
}


.label {
  margin: 0 5px;
  padding: 2px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

.avatar {
  float: left;
  margin: 20px;
}

.avatar img {
  border-radius: 8px;
}

.label-labels {
  display: inline-block;
}

.label-labels label {
  display: block;
}

.labelSearch {
  //margin-right: 85px;
}

input::placeholder {
  color: lightgrey;
}

input {
  font-size:32px;
}

.label-search-box {
  text-align: center;
}

.label-name {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.issue-body {
  padding: 20px 20px 0;
}

.issue {
  padding: 5px 20px 20px;
  margin: 20px 0;
  background-color: whitesmoke;
  border-radius: 20px;
}

.total-count {
  text-align: center;
  color: white;
}

.input-component {
  padding: 10px;
  //max-width: 300px;
  display: inline-block;
}

.label-search-box {
  padding: 25px;
}
.input-elements {
  padding: 0 25px 25px;
}

.input-element {
  display: inline-block;
}

.input-element label {
  color: black;
  font-size: 1em;
}

.option-inputs .input-element {
  background-color: lightgrey;
  margin: 0 25px 10px;
  padding: 30px;
  border-radius: 10px;
}

.option-inputs {
  border: 2px solid black;
  border-radius: 6px;
  padding: 25px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  font-weight:bold;
}


.switch {
  background-color: black;
}

footer {
  background-color: black;
  border: none;
  text-align: center;
}

footer p {
  padding: 15px;
}

footer p a {
  color:white;
  font-size: 1.5em;
}


time {
  color: black;
  background-color: lightgrey;
  margin: 0 20px 20px;
  border-radius: 6px;
  padding: 5px;
}
/* start responsive design css */
/* https://codepen.io/Cheesetoast/pen/KFAaq */



@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

#pagewrap {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
}
header {
  height: 100px;
  padding: 0 15px;
}
#content {
  width: 290px;
  float: left;
  padding: 5px 15px;
}

#middle {
  width: 294px; /* Account for margins + border values */
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

#sidebar {
  width: 270px;
  padding: 5px 15px;
  float: left;
}
footer {
  clear: both;
  padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

  #pagewrap {
    width: 94%;
  }
  #content {
    width: 41%;
    padding: 1% 4%;
  }
  #middle {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }

  #sidebar {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

  header, footer {
    padding: 1% 4%;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

  #content {
    width: auto;
    float: none;
  }

  #middle {
    width: auto;
    float: none;
    margin-left: 0px;
  }

  #sidebar {
    width: auto;
    float: none;
  }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

  header {
    height: auto;
  }
  h1 {
    font-size: 2em;
  }
  #sidebar {
    display: none;
  }

}


#content {
  background: #f8f8f8;
}
#sidebar {
  background: #f0efef;
}
header, #content, #middle, #sidebar {
  margin-bottom: 5px;
}
